
body, 
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}

.content-container {
    background-image: url(pic/bcg_d.png);
    height: 100vh;
    max-height: -webkit-fill-available;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}


/************************************************************ MENU */


.side-menu {
    height: 100%;
    width: 250px;
    position: relative;
}

.side-menu-bcg {
    background-color: #4D535F;
    height: 100%;
    width: 100%;
}

.burger {
    background-image: url(pic/burger.png);
    background-repeat: no-repeat;
    background-size: 60px 60px;
    position: absolute;
    left: 50px;
    top: 50px;
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: none;
    z-index: 10;
}

.contact-header-container {
    display: none;
}

.burger-waiter {
    background-image: url(pic/burger_waiter.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    position: absolute;
    left: 45px;
    top: 50px;
    height: 150px;
    width: 150px;
}

.menu {
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2%;
    margin: 0 !important;
}

.menu-icons,
.menu-titles {
    height: 95%;
    list-style: none;
    width: 100%;
    padding: 0;
    color: #EEEEEE;
    font-size: 23px;
}

                                                           /* change */
.menu-titles li:first-child { 
color: #F8E058;
}
                                                        /* change */

.menu-icon,
.menu-title {
    height: 25%;
    position: relative;
    width: 100%;
}

.menu-title a {
    text-decoration: none;
    color: inherit;
}

.menu-title a:hover,
.menu-title a:active {
    color: #F8E058;
}

.menu-icon img {
    height: 40px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.menu-titles-box {
    padding: 0 !important;
    position: relative;
}

.menu-title p{
    vertical-align: middle;
    margin: 0;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%)
}



/************************************************************ CONTACT   */


.contact,
.contact-small {
    height: 100%;
    position: absolute;
    right: 0;
    left: 220px;
    top: 0;
}

.contact-small {
    display: none;
}

.contact-container {
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

.contact-box {
    padding: 7% 5% !important;
    position: relative;
}

.contact-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color: #4D535F;
}

.contact-text p:last-child {
    color: #F8E058;
    text-shadow: -1px -1px 0 #4D535F, 1px -1px 0 #4D535F, -1px 1px 0 #4D535F, 1px 1px 0 #4D535F;
}

.contact-form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    color: #4D535F;
    width: 60%;
}

.form {
    width: 100%;
    margin: 15px 0 !important;
    background-color: rgba(255, 255, 255, 0.705);
    border: none;
    box-shadow: inset 2px 2px 5px #b8b9be,inset -8px -8px 15px #fff!important;
    border-radius: 10px;
    padding-left: 20px;
}

.form-name,
.form-email {
    height: 50px;
}

.form-text {
    padding-top: 15px;
    font-size: 1rem !important;
}

.form-button {
    width: 150px;
    height: 50px;
    box-shadow: 6px 6px 12px #4d535f57,-15px -15px 16px #fff!important;
    background-color: #F5F5F5;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4D535F;
    padding-left: 0;
}


/************************************************************ SOCIAL */

.social {
    position: absolute;
    right: 0;
    top: 0;
    height: 65px;
    width: 200px;
    padding: 20px 20px 0 0;
}

.social-img {
    width: 33.3%;
    padding: 0!important;
}


.social-img img {
    height: 40px;
}






/************************************************************ MEDIA QUERY */


@media only screen and (min-width: 1920px) {

    .side-menu {
        width: 400px;
    }

    .burger {
        background-size: 80px 80px;
        height: 80px;
        width: 80px;
    }
    
    .burger-waiter {

        background-size: 200px 200px;
        height: 200px;
        width: 200px;
    }
    
    .menu {
        height: 400px;
        padding: 4%;
    }
    
    .menu-icons,
    .menu-titles {
        font-size: 35px;
    }
    
    .menu-icon img {
        height: 50px;
        left: 30px;
    }
    


    .contact {
        left: 400px;
    }
    
    .contact-text {
        font-size: 3rem;
        font-weight: 500;
    }
    
    .contact-form {
        font-size: 1.5rem;
    }
    
    .form-name,
    .form-email {
        height: 70px;
    }
    
    .form-text {
        font-size: 1.5rem !important;
        height: 300px;
    }
    
    .form-button {
        width: 350px;
        height: 90px;
        font-size: 2rem;
        margin-top: 60px!important;
    }
    
    
    .social {
        width: 300px;
        top: 20px;
    }
    .social-img img {
        height: 55px;
    }

}

@media only screen and (min-width: 3000px) {

    .side-menu {
        width: 500px;
    }

    .burger {
        background-size: 100px 100px;
        height: 200px;
        width: 200px;
    }
    
    .burger-waiter {

        background-size: 230px 230px;
        height: 230px;
        width: 230px;
    }
    
    .menu {
        height: 500px;
        padding: 4%;
    }
    
    .menu-icons,
    .menu-titles {
        font-size: 40px;
    }
    
    .menu-icon img {
        height: 60px;
        left: 30px;
    }
    


    .contact {
        left: 500px;
    }
    
    .contact-text {
        font-size: 3.5rem;
        font-weight: 500;
    }
    
    .contact-form {
        font-size: 2rem;
    }

    .form {
        height: 500px;
    }
    
    .form-name,
    .form-email {
        height: 90px;
    }
    
    .form-text {
        font-size: 2rem !important;
    }
    
    .form-button {
        width: 350px;
        height: 90px;
        font-size: 2.5rem;
        margin-top: 60px!important;
    }
    
    
    .social {
        width: 350px;
        top: 20px;
    }
    .social-img img {
        height: 70px;
    }

}


@media only screen and (min-width: 4000px) {

    .side-menu {
        width: 800px;
    }

    .burger {
        background-size: 200px 200px;
        height: 200px;
        width: 200px;
    }
    
    .burger-waiter {

        background-size: 490px 490px;
        height: 490px;
        width: 490px;
    }
    
    .menu {
        height: 800px;
        padding: 4%;
    }
    
    .menu-icons,
    .menu-titles {
        font-size: 70px;
    }
    
    .menu-icon img {
        height: 100px;
        left: 30px;
    }
    
    .contact {
        left: 800px;
    }
    
    .contact-text {
        font-size: 7rem;
    }
    
    .contact-form {
        font-size: 4rem;
    }

    .form {
        height: 700px;
        border-radius: 25px;
    }
    
    .form-name,
    .form-email {
        height: 200px;
        border-radius: 25px;
        margin-bottom: 40px !important;
    }
    
    .form-text {
        font-size: 4rem !important;
    }
    
    .form-button {
        width: 550px;
        height: 190px;
        font-size: 5rem;
        margin-top: 150px!important;
    }



    .social {
        width: 500px;
        top: 50px;
        right: 30px;
    }
    .social-img img {
        height: 120px;
    }

}


@media only screen and (max-width: 1366px) {
    .side-menu {
        width: 220px;
    }
    .side-menu-bcg {
        opacity: 1;
     }
    
    .burger {
        background-size: 50px 50px;
        left: 40px;
        top: 40px;
        height: 50px;
        width: 50px;
    }
    
    .burger-waiter {
        background-size: 125px 125px;
        left: 36px;
        top: 40px;
        height: 125px;
        width: 125px;
    }
    
    .menu {
        height: 250px;
    }
    
    .menu-icons,
    .menu-titles {
        font-size: 20px;
    }
    
    .menu-icon img {
        height: 35px;
    }
    
    .social {
        width: 170px;
    }
    .social-img img {
        height: 30px;
    }
}


/******************** TABLET LANDSCAPE */


@media only screen and (max-width: 1060px) {
    .col-lg-6 {
        width: 100% !important;
    }

}


@media only screen and (max-width: 1024px) {

    .content-container {
        min-height: 700px;
        overflow-y: scroll;
    }

    .side-menu-bcg {
       display: none;
    }


    .burger {
        opacity: 1;
        background-size: 50px 50px;
        left: 25px;
        top: 20px;
        height: 50px;
        width: 50x;
    }

    .menu {
        opacity: 0;
    }

    .contact {
        display: none;
    }

    .contact-small {
        display: block;
        width: 100%;
        left: 0;
    }

    .contact-container {
        display: block!important;
    }

    .contact-box {
        height: 300px;
        padding: 0 !important;
    }

    .contact-box-form {
        height: 900px;
    }

    .contact-form {
        height: 90% !important;
        font-size: 1.3rem;
        width: 580px;
    }
    
    .form-name,
    .form-email {
        height: 10%;
    }
    
    .form-text {
        font-size: 1.3rem !important;
    }
    
    .form-button {
        width: 170px;
        height: 60px;
        border-radius: 15px;
        margin-top: 10px;
    }

    .contact-header-container {
        display: block;
        height: 150px;
        position: relative;
    }

    .contact-header {
        position: absolute;
        display: block;
        width: 150px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
        text-decoration: underline solid #F8E058;
    }
}


/******************** TABLET PORTRAIT  768*1024*/


@media only screen and (max-width: 768px) {

    .content-container {
        min-height: 800px;
    }

    .contact-text {
        font-size: 1.5rem;
        top: 150px;
    }

    .contact-box-form {
        height: 600px;
    }

    .contact-form {
        font-size: 1.2rem;
        width: 450px;
        margin-top: 20px;
    }
    
    .form-name,
    .form-email {
        height: 10%;
    }
    
    .form-text {
        font-size: 1.2rem !important;
        height: 200px;
    }

    
    .form-button {
        margin-top: 30px!important;
    }

    
}



@media only screen and (max-width: 650px) {
    

    .contact-text {
        font-size: 1.4rem;
        top: 150px;
    }

    .contact-form {
        width: 400px;
    }
    
    .form-name,
    .form-email {
        height: 13%;
    }
    
    .form-text {
        font-size: 1.2rem !important;
        height: 180px;
    }
    
    .form {
        margin: 10px 0 !important;
    }

    .contact-box {
        height: 200px;
    }

    .contact-box-form {
        height: 500px;
    }

}





/******************** MOBILE */


@media only screen and (max-width: 480px) {

    .content-container {
        min-height: 640px;
        padding-bottom: 30px;
    }

    .burger {
        background-size: 45px 45px;
        left: 25px;
        top: 20px;
        height: 45px;
        width: 45x;
    }

    .contact-text {
        font-size: 1.1rem;
        top: 100px;
    }

    .contact-form {
        width: 300px;
        margin-top: 70px;
    }

    .contact-box {
        height: 170px;
    }

    .contact-box-form {
        height: 500px;
    }
    
    .form-name,
    .form-email {
        height: 12%;
        font-size: 1.1rem;
    }
    
    .form-text {
        font-size: 1.1rem !important;
        height: 150px;
    }
    
    .form {
        margin: 8px 0 !important;
    }

    .form-button {
        width: 140px;
        height: 50px;
        border-radius: 15px;
        margin-top: 10px!important;
        margin-bottom: 40px!important;
    }


    .social {
        height: 55px;
        width: 170px;
        right: 0px;
    }

    .social-img {
        text-align: center;
    }
    
    .social-img img {
        height: 35px;
    }
}