
body, 
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}

.content-container {
    background-image: url(pic/bcg_d.png);
    height: 100vh;
    max-height: -webkit-fill-available;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}


/************************************************************ MENU */


.side-menu {
    height: 100%;
    width: 250px;
    position: relative;
}

.side-menu-bcg {
    background-color: #4D535F;
    height: 100%;
    width: 100%;
}

.burger {
    background-image: url(pic/burger.png);
    background-repeat: no-repeat;
    background-size: 60px 60px;
    position: absolute;
    left: 50px;
    top: 50px;
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: none;
    z-index: 10;
}

.burger-waiter {
    background-image: url(pic/burger_waiter.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    position: absolute;
    left: 45px;
    top: 50px;
    height: 150px;
    width: 150px;
}

.menu {
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2%;
    margin: 0 !important;
}

.menu-icons,
.menu-titles {
    height: 95%;
    list-style: none;
    width: 100%;
    padding: 0;
    color: #EEEEEE;
    font-size: 23px;
}

                                                           /* change */
.menu-titles li:nth-child(2) { 
color: #F8E058;
}
                                                        /* change */

.menu-icon,
.menu-title {
    height: 25%;
    position: relative;
    width: 100%;
}

.menu-title a {
    text-decoration: none;
    color: inherit;
}

.menu-title a:hover,
.menu-title a:active {
    color: #F8E058;
}

.menu-icon img {
    height: 40px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.menu-titles-box {
    padding: 0 !important;
    position: relative;
}

.menu-title p{
    vertical-align: middle;
    margin: 0;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%)
}



/************************************************************ PORTFOLIO   */


.projects-container {
    height: 100%;
    position: absolute;
    right: 0;
    left: 235px;
    top: 0;
}

.portfolio-header-container {
    display: none;
}

.portfolio-header {
    display: none;
}

.projects-box {
    height: 100%;
    width: 100%;
    padding: 8% 0 3% 0;
}

.projects {
    height: 45%;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.project {
    background-color: rgba(255, 255, 255, 0.705);
    box-shadow: inset 2px 2px 5px #b8b9be,inset -8px -8px 15px #fff;
    border-radius: 15px;
    height: 90%;
    width: 90%;
    position: relative;
}

.projects-box-left .projects{
    padding: 0 5% 0% 15%;
}

.projects-box-right .projects{
    padding: 0 15% 0% 5%;
}

.project-header {
    font-size: 1.7rem;
    padding-top: 10px;
}

.tech {
    font-size: 1.1rem;
    font-weight: 400;
}

.project-img {
    width: 100%;
    height: 70%;
    position: relative;
}

.project-img img {
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}

.luope {
    position: absolute;
    background-image: url(pic/loupe.png);
    background-size: cover;
    opacity: 0.2;
    height: 80px;
    width: 80px;
    right: 20px;
    bottom: 20px;
}

/************************************************************ PROJECTS POP UP */

.projects-pop {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #4d535fea;
    display: none;
}

.projects-pop-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.close {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 30px;
    top: 30px;
    background-image: url(pic/close.png);
    background-size: cover;
    background-color: transparent;
    border: none;
}

.project-pop {
    height: 100%;
    width: 100%;
    padding: 4%;
    margin: 0 !important;
}

.project-pop * {
    padding: 0 30px;
    border-radius: 15px;
}

.mobile-box,
.desktop-box {
    position: relative;
}

.mobile-img,
.desktop-img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 80%;
    width: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
}

.mobile-img img {
    width: 102%;
    margin-left: -2px;
    padding: 0;
}

.desktop-img {
    height: 95%;
    padding-left: 10px;
}

.desktop-img img {
    width: 102%;
    margin-left: -4px;
    padding: 0;
}

#desktop-box-budget .desktop-img {
    height: 100%;
    position: relative;
}

#budget-img {
    position: absolute;
    height: 90%;
    top: 5%;
    bottom: 5%;
}

.description-box {
    color: #ffffff;
    position: relative;
}

.description-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 10px;
    transform: translate(0, -50%);
    padding: 0;
    text-align: center;
}

.description-title {
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 600;
    font-style: italic;
    padding: 0;
    margin-bottom: 30px;
}

.description-text {
    font-size: 1rem;
    padding: 0;
}

.description-links-header {
    color: #F8E058;
    letter-spacing: 3px;
    font-size: 1.3rem;
    padding: 0;
}

.description-links {
    margin-top: 40px;
    padding: 0;
}

.description-links-box {
    border: 1px solid #F8E058;
    border-radius: 0;
    margin-top: 15px;
    height: 40px;
    padding: 0;
    position: relative;
}

.description-links-box p{
    line-height: 40px;
            position: absolute;
        top: 50%; right: 50%;
        transform: translate(50%,-50%);
}

.description-links-box p a{
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
}

#pop-portfolio .description-title {
    font-size: 2rem;
    margin-bottom: 50px;
}

#pop-portfolio .description-text {
    font-size: 1.2rem;
}

/************************************************************ SOCIAL */

.social {
    position: absolute;
    right: 0;
    top: 0;
    height: 65px;
    width: 200px;
    padding: 20px 20px 0 0;
}

.social-img {
    width: 33.3%;
    padding: 0!important;
}


.social-img img {
    height: 40px;
}






/************************************************************ MEDIA QUERY */
/* 1920x1080 */


@media only screen and (min-width: 1920px) {

    .side-menu {
        width: 400px;
    }

    .projects-container {
        left: 400px;
    }

    .burger {
        background-size: 80px 80px;
        height: 80px;
        width: 80px;
    }
    
    .burger-waiter {

        background-size: 200px 200px;
        height: 200px;
        width: 200px;
    }
    
    .menu {
        height: 400px;
        padding: 4%;
    }
    
    .menu-icons,
    .menu-titles {
        font-size: 35px;
    }
    
    .menu-icon img {
        height: 50px;
        left: 30px;
    }
    
    .social {
        width: 300px;
        top: 20px;
    }
    .social-img img {
        height: 55px;
    }

    
    .description-title {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 50px;
    }
    
    .description-text {
        font-size: 1.5rem;
    }
    
    .description-links-header {
        font-size: 2rem;
    }
    
    .description-links {
        margin-top: 60px;
    }
    
    .description-links-box {
        margin-top: 25px;
        height: 60px;
        width: 70%;
        left: 15%;
    }
    
    .description-links-box p{
        line-height: 60px;
    }
    
    .description-links-box p a{
        font-size: 1.8rem;
    }

    #pop-portfolio .description-title {
        font-size: 3rem;
        margin-bottom: 80px;
    }
    
    #pop-portfolio .description-text {
        font-size: 1.7rem;
    }
}



@media only screen and (min-width: 3000px) {

    .side-menu {
        width: 500px;
    }

    .burger {
        background-size: 100px 100px;
        height: 200px;
        width: 200px;
    }
    
    .burger-waiter {

        background-size: 230px 230px;
        height: 230px;
        width: 230px;
    }
    
    .menu {
        height: 500px;
        padding: 4%;
    }
    
    .menu-icons,
    .menu-titles {
        font-size: 40px;
    }
    
    .menu-icon img {
        height: 60px;
        left: 30px;
    }

    

    .projects {
        height: 50%;
    }
    
    .project {
        border-radius: 30px;
    }
    
    .project-header {
        font-size: 3.2rem;
        padding-top: 30px;
    }
    
    .tech {
        font-size: 2rem;
        font-weight: 400;
    }
    
    .project-img {
        height: 75%;
    }
    
    .luope {
        height: 130px;
        width: 130px;
        right: 40px;
        bottom: 40px;
    }
    
    
    .social {
        width: 350px;
        top: 20px;
    }
    .social-img img {
        height: 70px;
    }

    .description-title {
        font-size: 5rem;
        line-height: 6rem;
        margin-bottom: 80px;
    }
    
    .description-text {
        font-size: 2.4rem;
    }
    
    .description-links-header {
        font-size: 3rem;
    }
    
    .description-links {
        margin-top: 100px;
    }
    
    .description-links-box {
        margin-top: 40px;
        height: 80px;
        width: 60%;
        left: 20%;
    }
    
    .description-links-box p{
        line-height: 80px;
    }
    
    .description-links-box p a{
        font-size: 2.2rem;
    }

    #pop-portfolio .description-title {
        font-size: 5rem;
        margin-bottom: 100px;
    }
    
    #pop-portfolio .description-text {
        font-size: 2rem;
    }

    .close {
        height: 80px;
        width: 80px;
        right: 50px;
        top: 50px;
    }
}

@media only screen and (min-width: 4000px) {

    .side-menu {
        width: 800px;
    }

    .burger {
        background-size: 200px 200px;
        height: 200px;
        width: 200px;
    }
    
    .burger-waiter {

        background-size: 490px 490px;
        height: 490px;
        width: 490px;
    }
    
    .menu {
        height: 800px;
        padding: 4%;
    }
    
    .menu-icons,
    .menu-titles {
        font-size: 70px;
    }
    
    .menu-icon img {
        height: 100px;
        left: 30px;
    }

    .projects-container {
        left: 800px;
    }
    
    .project {
        border-radius: 60px;
    }
    
    .project-header {
        font-size: 4.6rem;
    }
    
    .tech {
        font-size: 3rem;
    }
    
    .luope {
        height: 200px;
        width: 200px;
        right: 80px;
        bottom: 80px;
    }

    .description-title {
        font-size: 8rem;
        line-height: 8rem;
        margin-bottom: 100px;
    }
    
    .description-text {
        font-size: 4em;
    }
    
    .description-links-header {
        font-size: 4rem;
    }
    
    .description-links {
        margin-top: 200px;
    }
    
    .description-links-box {
        margin-top: 60px;
        height: 150px;
        width: 50%;
        left: 25%;
    }
    
    .description-links-box p{
        line-height: 150px;
    }
    
    .description-links-box p a{
        font-size: 4rem;
    }

    #pop-portfolio .description-title {
        font-size: 9rem;
        margin-bottom: 200px;
    }
    
    #pop-portfolio .description-text {
        font-size: 5rem;
    }

    .close {
        height: 150px;
        width: 150px;
        right: 100px;
        top: 100px;
    }
    .social {
        width: 500px;
        top: 50px;
        right: 30px;
    }
    .social-img img {
        height: 120px;
    }

}



@media only screen and (max-width: 1366px) {
    .side-menu {
        width: 220px;
    }
    .side-menu-bcg {
        opacity: 1;
     }
    
    .burger {
        background-size: 50px 50px;
        left: 40px;
        top: 40px;
        height: 50px;
        width: 50px;
    }
    
    .burger-waiter {
        background-size: 125px 125px;
        left: 36px;
        top: 40px;
        height: 125px;
        width: 125px;
    }
    
    .menu {
        height: 250px;
    }
    
    .menu-icons,
    .menu-titles {
        font-size: 20px;
    }
    
    .menu-icon img {
        height: 35px;
    }
    
    .social {
        width: 170px;
    }
    .social-img img {
        height: 30px;
    }
}


/******************** TABLET LANDSCAPE 1024x768*/


@media only screen and (max-width: 1024px) {

    .content-container {
        overflow-y: hidden;
        left: 0;
    }

    .side-menu {
        width: 0;
    }

    .side-menu-bcg {
       opacity: 0;
    }

    .burger-waiter {
        opacity: 0;
    }

    .burger {
        opacity: 1;
        background-size: 50px 50px;
        left: 25px;
        top: 20px;
        height: 50px;
        width: 50x;
    }

    .portfolio-header-container {
        display: block;
        height: 150px;
        position: relative;
    }

    .portfolio-header {
        position: absolute;
        display: block;
        width: 150px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
        text-decoration: underline solid #F8E058;
    }

    .projects-container {
        left: 0;
    }

    .projects-box {
        padding-top: 5%;
    }
    .projects {
        margin-top: 0px;
        height: 35%;
    }

    .projects-box-left .projects {
        padding-left: 40px !important;
        padding-right: 0px !important;
    }

    .projects-box-left .projects .project {
        margin-right: 10px !important;
    }

    .projects-box-right .projects {
        padding-right: 40px !important;
        padding-left: 0px !important;
    }

    .projects-box-right .projects .project {
        margin-left: 10px !important;
    }
    .project {
        margin: 0 auto !important;
        height: 100%;
        margin-top: 20px !important;
    }

    .project-header {
        font-size: 1.5rem;
    }
    
    .tech {
        font-size: 1rem;
    }
    
    .project-img img {
        height: 75%;
    }

    .menu {
        opacity: 0;
    }

    
    
    .close {
        position: absolute;
        height: 30px;
        width: 30px;
    }
    
    .project-pop {
        height: 700px;
        margin: 0 !important;
        position: absolute;
        top: 50%; 
        right: 50%;
        transform: translate(50%,-50%);
    }
    
    .description-container {
        right: 5px;
    }

    .description-box {
        padding: 0 !important;
    }
    
    .description-title {
        font-size: 1.3rem;
        line-height: 1.3rem;
        margin-bottom: 10px;
    }
    
    .description-text {
        font-size: 0.9rem;
    }
    
    .description-links-header {
        font-size: 1rem;
    }
    
    .description-links-boxes {
        margin-left: 5%;
        margin-right: 3%;
    }
    
    .description-links-box {
        border: 1px solid #F8E058;
        border-radius: 0;
        margin-top: 15px;
        height: 43px;
        padding: 0;
        width: 90%;
    }
    
    .description-links-box p{
        line-height: 40px;
    }
    
    .description-links-box p a{
        font-size: 1rem;
    }

    #budget-img {
        height: 70%;
        margin: auto 0;
    }
}


/******************** TABLET PORTRAIT  768*1024*/


@media only screen and (max-width: 768px) {

    .content-container {
        min-height: 800px;
        overflow-y: scroll;
    }

    .projects-box-left .projects {
        padding-left: 10px !important;
        padding-right: 0px !important;
    }

    .projects-box-left .projects .project {
        margin-right: 5px !important;
    }

    .projects-box-right .projects {
        padding-right: 10px !important;
        padding-left: 0px !important;
    }

    .projects-box-right .projects .project {
        margin-left: 5px !important;
    }

    .projects {
        margin-top: 50px;
        height: 30%;
    }

    .project {
        margin: 0 auto !important;
        height: 100%;
    }

    .project-header {
        font-size: 1.5rem;
    }
    
    .tech {
        font-size: 1rem;
    }
    
    .project-img img {
        height: 70%;
    }

    .project-pop {
        height: 100%;
        overflow-y: scroll;
        position: relative;
    }

    #descrpition-box-budget{
        position: absolute;
        top: 200px;
        width: 60%;
    }

    #desktop-box-budget {
        margin-top: 270px;
        height: 700px;
    }
}



@media only screen and (max-width: 576px) {

    .content-container {
        overflow-y: scroll;
    }

    .projects-box {
        height: auto;
        padding-bottom: 0;
    }

    .projects-box-right {
        padding-top: 0;
        height: auto;
        padding-bottom: 70px;
    }

    .projects {
        margin-top: 30px;
        height: 300px;
        padding: 0 !important;
    }

    .project {
        margin: 0 10% !important;
        height: 100%;
        width: 80%;
    }

    .projects-box-left .projects {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .projects-box-right .projects {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .projects-box-right .projects .project {
        margin: 0 auto !important;
    }

    .project-header {
        font-size: 1.5rem;
    }
    
    .tech {
        font-size: 1.2rem;
        font-weight: 300;
    }
    
    .project-img img {
        height: 75%;
    }


    .projects-pop {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .project-pop {
        margin: 0 !important;
        position: absolute;
        top: 50%; 
        right: 50%;
        transform: translate(50%,-50%);
    }

    .mobile-box,
    .desktop-box {
    position: relative;
}

    .mobile-box {
        height: 700px;
        width: 100%;
        margin-top: 600px !important;
    }

    .desktop-box {
        height: 700px;
        margin-top: 50px !important;
        width: 100%;
    }

    .desktop-img {
        width: 100%;
        padding: 0;
    }

    .mobile-img {
        position: absolute;
        top: 50%;
        left: 10%;
        height: 100%;
        width: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0;
    }

    #desktop-box-scandy {
        margin-top: 500px !important;
    }

    .description-box {
        color: #ffffff;
        position: absolute;
    }
    
    .description-container {
        position: absolute;
        top: 300px;
        width: 80%;
        left: 10%;
    }

    #description-container-portfolio {
        margin-top: 20%;
    }

    .description-box {
        padding: 0 !important;
    }

    
    
    .description-title {
        font-size: 1.8rem;
        line-height: 1.5rem;
        margin-bottom: 20px;
    }
    
    .description-text {
        font-size: 1.1rem;
    }
    
    .description-links-header {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    
    
    .description-links-box {
        height: 47px;
    }
    
    .description-links-box p{
        line-height: 45px;
    }
    
    .description-links-box p a{
        font-size: 1.2rem;
    }

    #descrpition-box-budget{
        position: absolute;
        top: 0px;
        width: 70%;
    }

    #desktop-box-budget {
        margin-top: 370px !important;
        height: 600px;
    }
}




/******************** MOBILE */


@media only screen and (max-width: 480px) {

    .content-container {
        min-height: 640px;
        padding-bottom: 30px;
    }

    .burger {
        background-size: 45px 45px;
        left: 25px;
        top: 20px;
        height: 45px;
        width: 45x;
    }

    .social {
        height: 55px;
        width: 170px;
        right: 0px;
    }

    .social-img {
        text-align: center;
    }
    
    .social-img img {
        height: 35px;
    }

    .projects-pop {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    

    .mobile-box {
        height: 700px;
        width: 100%;
        margin-top: 650px !important;
    }

    .desktop-box {
        height: 500px;
        margin-top: 50px !important;
        width: 100%;
    }

    .desktop-img {
        width: 100%;
        padding: 0;
    }

    .mobile-img {
        position: absolute;
        top: 50%;
        left: 10%;
        height: 100%;
        width: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0;
    }

    #desktop-box-scandy {
        margin-top: 500px !important;
    }

    #description-container-scandy {
        top: 250px;
    }
    
    .description-container {
        position: absolute;
        top: 300px;
        width: 90%;
        left: 5%;
    }

    #description-container-portfolio {
        margin-top: 10%;
    }

    .description-box {
        padding: 0 !important;
    }
    
    .description-title {
        font-size: 1.8rem;
        line-height: 1.5rem;
        margin-bottom: 20px;
    }
    
    .description-text {
        font-size: 1.1rem;
    }
    
    .description-links-header {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    
    
    .description-links-box {
        height: 47px;
    }
    
    .description-links-box p{
        line-height: 45px;
    }
    
    .description-links-box p a{
        font-size: 1.2rem;
    }

    #descrpition-box-budget{
        top: -30px;
        width: 70%;
    }

    #desktop-box-budget {
        margin-top: 400px !important;
        height: 500px;
    }
}